.container {

    font-family: arial;
    font-size: 15px;
    margin: auto;
    margin-top: 50px;
    width: 350px;
    height: 200px;

}
#connect {
    background-color: #4CAF50;
    border: none;
    color: white;
    margin: auto;

    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}
#from{
    background-color: #f8f9fa;
    padding: 10px;
    padding: 10px 24px;
    margin-bottom: 1.3rem;
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
h1 {
    text-align: center;
    color: black;
}

.vertical-center2 {
    margin: 10px auto;
    width: 20%;
}

.centered {

    text-align: center;
}

.box{

    background: rgba(255, 255, 255, 0.05);
    width: 400px;
    height: 200px;
    margin: 10px auto;
    border-radius: 0.2em;
    position: relative;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
}


#send {
    background-color: red; /* Green */
    border: none;
    color: white;
    margin: auto;

    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}
#message{
    background-color: #f8f9fa;
    padding: 10px;
    padding: 5px 30px;
    margin-bottom: 1.3rem;
}
.msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.form-control {
    width: 100%;
    min-height: 38px;
    font-size: 15px;
    border: 1px solid #c8c8c8;
}
.form-group {
    margin-bottom: 15px;
}
.chatbox__user-list {
    background: rgba(255, 255, 255, 0.1);
    width: 25%;
    height: 100%;
    float: right;
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
}



.chatbox__user, .chatbox__user--away, .chatbox__user--busy, .chatbox__user--active {
    width: 0.5em;
    height: 0.5em;
    border-radius: 100%;
    margin: 1em 0.7em;
}
.chatbox__user--active {
    background: rgba(37, 199, 18, 0.8);
}
.chatbox__user--busy {
    background: rgba(252, 100, 113, 0.8);
}
.chatbox__user--away {
    background: rgba(112, 112, 110, 0.8);
}

.chatbox__user-list p {
    float: left;
    text-align: left;
    margin: -0.25em 2em;
    font-size: 1em;
    font-weight: 300;
    color: #000000;
    width: 200px;
}

.box p {
    float: left;
    text-align: left;
    margin: -0.25em 2em;
    font-size: 1em;
    font-weight: 300;
    color: #000000;
    width: 200px;
}

.message{
    color: #cb2929;
    font-size: 0.7em;
    margin: 0 2.8em;
}
