.container {

    font-family: arial;
    font-size: 15px;
    margin: auto;
    margin-top: 50px;
    width: 350px;
    height: 200px;

}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
